.greenBlock {
  background-color: greenyellow;
  width: 12px;
  height: 12px;
  border-radius: 3px;
}
.greenBlock2 {
  background-color: greenyellow;
  width: 12px;
  height: 12px;

  border-radius: 3px;
  margin-left: 20px;
}
.greyBlock {
  background-color: rgb(179, 179, 179);
  width: 12px;
  margin-left: 12px;
  height: 12px;
  border-radius: 12px;
}
.priceAndPlace {
  margin-right: 8px;
}
.priceContainer {
  width: 140px;
  margin: auto;
}
.priceWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  margin-left: 3px;
}
.display {
  margin-top: 10px;
}
.closeButton {
  position: absolute;
  font-size: 30px;
  right: 15px;
  cursor: pointer;
}
.places {
  background-color: greenyellow;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
}

.select {
  background-color: rgb(95, 95, 94);
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
}
.reserved {
  background-color: rgb(95, 95, 94);
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
  pointer-events: none;
  cursor: pointer;
}
.number {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  cursor: pointer;
}
.active {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  opacity: 1;
}
.places:hover .number {
  border-radius: 50px;
  opacity: 1;
  cursor: pointer;
}
.select:hover .number {
  opacity: 1;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 50px;
}
.places:hover {
  transition: 1s;
}
.wrapPlaces {
  width: 700px;
  margin: auto;
  padding: 15px 30px;
  display: flex;
  flex-wrap: wrap;
}
.blockPlaces {
  width: 700px;
  margin: auto;
  padding: 15px 30px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(251, 4, 4, 0.794);
}

.wrapButtonAndCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: rgb(251, 251, 251);
  padding-left: 30px;
  padding-right: 12px;
  padding-bottom: 9px;
  border-bottom: 1px solid rgb(218, 218, 218);
  border-left: 1px solid rgb(218, 218, 218);
  border-right: 1px solid rgb(218, 218, 218);
}

.bueBillets {
  padding: 10px 30px;
  background-color: greenyellow;
  border-radius: 5px;
  border: 0;
  color: #fff;
}

.wrapButtonAndCards a {
  display: block;
}
.wrapPrice {
  display: flex;
  align-items: center;
}
.reservs {
  position: relative;
  margin-left: -16px;
  width: 133px;
  background-color: #fff;
  border: 1px solid rgba(120, 120, 128, 0.2);
  border-radius: 8px 8px 0 0;
  padding: 8px 32px 8px 12px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  height: 65px;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  -webkit-transition: 0.2s transform ease-in-out;
  transition: 0.2s transform ease-in-out;
  white-space: nowrap;
}
.reservs:hover {
  bottom: 30px;
  animation-duration: 0.75s;
}

.reservePlaces {
  display: flex;
}

.bueBillets {
  color: rgb(24, 24, 24);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 1s;
  margin-top: 10px;
  margin-right: 5px;
}
.bueBillets:hover {
  background-color: blue;
  color: #fff;
}
.deleteReserve {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 16px;
  color: #f20361;
}
.deleteReserve {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 16px;
  color: #f20361;
}
