.backroundImage {
    width: 165px;
    height: 237px;
}
.soonCardWrap {
    display: flex;
    flex-wrap: wrap;
}
.soonCard {
    margin: 0 15px 20px 10px;
}
.soonCardDate {
    color: rgb(161, 161, 161);
    margin: 10px 0 5px 0;
}
.soonCardTitle h3 {
    margin: 0;
    padding: 0;
}
.soonCardTitle h3:hover {
 transition: 1s;
    color: #f20361;
    cursor: pointer;
}
.soonTitle h1 {
    margin: 0px 10px 20px 10px;
}