
.singWrap svg {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 50px;
    color: gold;
}
.www {
    background-size: cover;
    background-repeat: no-repeat;
   
    /* background-image: url("https://cdn-icons-png.flaticon.com/512/864/864834.png") */
}
.openChildModal {
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);

}
.wrapProfile img {
    width: 150px;
}
.wrapProfile {
    display: flex;
}
.infoWrap .imgBox1 img {
   width: 400px;
   top: -120px;
   left: -80px;
   position: absolute;
}
.infoWrap .imgBox2 img {
   width: 300px;
   top: -150px;
   left: 70px;
   position: absolute;
}

.infoWrap {

    text-align: center;
    position: relative;
    margin-top: 70px;
    margin-left: 30px;
    color: beige;
}
.infoWrap span {
    font-size: 18px;
    color: rgb(240, 239, 239);
}
.infoWrap .userName {
    font-size: 26px;
    color: gold;
    
}
.infoWrap .userEmail {
    font-size: 26px;
    color: gold;
}
.litleModal {
    box-shadow: 10px 10px 100px rgb(202, 202, 202);
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFF;
    text-align: center;
}
.litleModal .closeWindow {
    color: gold;
    font-weight: 600;
    border: 1px solid gold;
}
.ticketsWrap {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    /* line-height: 50px; */
    margin-top: 19px;
}
.tickets {
    display: flex;
}
.films {
    color: gold;
    border: 1px solid gold;
    font-weight: 700;
    font-size: 12px;
    margin-left: 5px;
    text-shadow: 1px 1px 10px gold;
}